*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor{
    background-color: blue;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
}
.caja{
    background-color: aquamarine;
    border: 2px solid red;
}